.vscode/

#DatingApp.Api
datingapp.api/.vscode
datingapp.api/bin
datingapp.api/obj

#DatingApp.Core
datingapp.core/bin
datingapp.core/obj

#DatingApp.service
datingapp.service/bin
datingapp.service/obj


#DatingApp.data
datingapp.data/bin
datingapp.data/obj

#DatingApp.repositories
datingapp.repositories/bin
datingapp.repositories/obj

*.db



